.app {
  text-align: center;
  font-family: Arial Black;
}

.appMain {
  background-color: #f0efe9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #616473;
}

.todoList {
  background-color: white;
  box-shadow: 4px 6px 6px #dddcd8;
}

.App-link {
  color: #09d3ac;
}

.calDate {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.navBtn {
  border: none;
  background-color: #50e3a4;
  border-radius: 40px;
  margin: 10px;
  font-family: Arial Black;
  border-radius: 50%;
  outline: none;
  transition: .5s;
  width: 30px;
  height: 30px;
}

.navBtn:hover {
  background-color: #3eac7c;
}

.date {
  font-size: 2rem;
}

.monthYear {
  font-size: 0.7rem;
  margin-top: 1vh;
  margin-left: 7px;
}

.day {
  margin-left: 10vw;
  margin-top: 1vh;
}

.newItem {
  background-color: #50e3a4;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  transition: .5s;
  outline: none;
}

.newItem:hover {
  width: 75px;
  height: 75px;
}


.todoItem {
  list-style: none;
  display: inline-block;
  min-width: 18vw;
  max-width: 18vw;
  margin-right: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}


.notDone {
  display: inline-block;
  box-shadow: 0 0 0 5px #50e3a4;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.done {
  display: inline-block;
  box-shadow: 0 0 0 5px #50e3a4;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: #50e3a4;
}

.input {
  font-family: Arial Black;
  padding: .5rem;
  font-size: 1rem;
  outline-color :#50e3a4;
}

.inputBtn {
  background-color: #50e3a4;
  border: none;
  font-family: Arial Black;
  margin: .5rem;
  padding: .5rem;
  font-size: 1rem;
}

.inputBtn:hover {
  background-color: #3eac7c;
}

.item {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .todoItem {
    max-width: none;
  }
}

@media only screen and (max-width: 480px) {
  .inputBtn {
    display: block;
    width: 50vw;
  }
  .todoItem {
    min-width: 40vw;
    max-width: 40vw;
  }
}